@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'OpemSans';
    src: url('/OpenSans-VariableFont.ttf') format("truetype-variations");
    font-weight: 300 800;
    }

.telm {
    // color: $asd;
    font-family: 'OpemSans', sans-serif;
    animation: anim 10s infinite;
    
}


$base-color: #ebdfb7;
@for $i from 1 through 40 {
    .telm:nth-child(40n + #{$i}) {
        // animation: anim-#{$i} 1s;
        animation-delay:  -#{$i}s;
    }
}

.telm:nth-child(20n) {
    
}

@keyframes anim {
    from, to {
        color: lighten($base-color, 0%);
        font-weight: 300;
    }
    50% {
        font-weight: 800;
        color: lighten($base-color, 50%);
    }
}